body { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background: #cccccc;
	padding: 0; margin: 5px 10px 5px 10px;
}


a {  		color: #036; font-weight: bold; text-decoration: none; }
a:hover {	text-decoration: underline; }

h1, h2, h3 {
	font-family: "Century Gothic", arial, chicago, helvetica, sans-serif; 
}
